::selection {
    background: #b5b5b5; /* WebKit/Blink Browsers */
}


body {
    background-color: transparent !important;
}

container::-webkit-scrollbar {
    display: none;
}

container{
    border-radius: 5px;
    position: absolute;
    top: 15%;
    left: 15%;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none; 
    font-family: Roboto !important;
    background-color: #222222 !important;
    width: 70%;
    height: 70%;
    opacity: 0.8;
}

.vh-input {
    background-color: #303030; 
    color: white; 
    height: 30px;
}

.nav-pills .active {
    background-color: #303030;
    font-weight: bold;
    margin-left: 4px;
}

.user-tab {
    padding: 3px 6px 3px 6px;
    border-radius: 8px;
    text-overflow: ellipsis;
    overflow:hidden; 
}

#user_name {
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
}